<nav>
    <div class="site-title">
        <a href="/">BLOGS</a>
        <p>My Blogs</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create New Blogs</a></li>
    </ul>
</nav>
