<html lang="en">
<%- include('./partials/head.ejs')%>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus blanditiis, a inventore aut aspernatur dolorem sunt, rerum, dolorum non cum molestiae libero ex aperiam laboriosam iusto quas numquam temporibus expedita!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque eius aut, est totam ipsa nesciunt ex non odit cum tenetur incidunt doloremque, laboriosam cupiditate maiores. Beatae id assumenda fugiat sapiente.</p>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>